:root {
    --primary: #2a9d8f;
    --dark-primary: #264653;
    --tertiary: #e9c46a;
    --secondary: #f4a261;
    --dark-secondary: #e76f51;
}

body {
    background-color: var(--dark-primary);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 20vh;
    background-color: var(--dark-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
}

.dad-jokes p {
    position: relative;
}

.Letter {
    display: inline-block;
    color: var(--dark-secondary);
    transform: rotate(-10deg) translateY(15px);
    -webkit-transform: rotate(-10deg) translateY(15px);
    font-size: 7rem;
}

.rest {
    text-decoration-line: underline;
    text-decoration-color: var(--dark-secondary);
}

.scisaif {
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

section {
    background-color: var(--primary);
    min-height: 75vh;
    border-radius: 20vw 20vw 0 0;
    display: flex;
    justify-content: center;
}

.main {
    margin-top: 50px;
    color: white;
    max-width: 70%;
    text-align: center;
}

label {
    font-size: 1.2rem;
    margin-right: 10px;
}

#type {
    color: white;
    background-color: var(--dark-secondary);
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
}

blockquote {
    font-size: 2rem;
}

#btn {
    color: white;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 15px;
    background-color: var(--dark-secondary);
    box-shadow: 1px 1px var(--dark-primary);
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
}

#btn:hover {
    background-color: var(--secondary)

}

@media only screen and (max-width: 500px) {

    header {
        font-size: 2rem;
    }
    .Letter {
        font-size: 5rem;
    }
    .scisaif {
        font-size: 0.8rem;
    }
    .main {
        max-width: 98%;
    }
}


/* Loader */

.loader-active {
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--dark-secondary);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.footer-main {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    font-family: 'Roboto', sans-serif;
    
}

.footer-main p {
    padding-left: 5px;
    flex: 1;
}

.second-page{
    flex: 2;
    border-left: 2px solid var(--primary);
    padding-left: 20px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.third-page{
    flex:2;
    border-left: 2px solid var(--primary);
    padding-left: 20px;
    padding-right: 10px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.second-page:hover {
    background-color: var(--dark-secondary);
}

.third-page:hover {
    background-color: var(--dark-secondary);
}

.hidden {
    display: none;
}

.huck {
    font-size: 2rem;
}




